* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.gameboard{
    border: 1px solid black;
    width: 500px;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.square {
    border: 1px solid red;
}